terraform.tfstate
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
.terraform/plugins/darwin_amd64/lock.json
.terraform/plugins/darwin_amd64/terraform-provider-google_v1.15.0_x4
terraform.tfstate
